<div class="container">
<div class="page-header">
	<h1>Justin White <small> a work in progress.</small></h1>
</div>

<!-- Intro Block -->
  <div class="row">
    <div class="span4">
      <h3>Hello!</h3>
      <p>My name is <strong>Justin White</strong>. I am 22 years old and live in Chicago. I go to DePaul University, and am a student at <a href="http://twitter.com/#!/CodeAcademy">@CodeAcademy</a>. This website is eventually going to be a place where I will post my rambling, doings, and share my life. For now, it is a toy that I can't wait to break!</p>
    </div><!-- /.span -->
    <div class="span4">

<!-- Begin Contact Info-->
<h3>Contact</h3>
<pre class="prettyprint linenums">
James Justin White III
<a href="http://twitter.com/#!/JJustinWhite">@JJustinWhite</a>
<a href="mailto:JJustinWhite@mac.com">JJustinWhite@mac.com</a>
(847)-770-5146
</pre>

<!-- About Me Block -->
    </div><!-- /.span -->
    <div class="span4">
    	<h3>About Me</h3>
      <p>I love lots of things in life. Chicago. <a href="http://explosionsinthesky.com">Music</a>. <a href="http://dmkburgerbar.com">Cheeseburgers</a>. <a href="http://lagunitas.com">Beer</a>. Ruby on Rails. <a href="https://github.com/SirJustinWhite">Programming</a>. <a href="http://nols.edu">NOLS</a>. Backpacking. <br /><a href="http://goo.gl/72Ahu">Australia</a>. <a href="/assets/dogs.jpg">My Dogs</a>. <a href="http://braid-game.com/">Games</a>.</p>
    </div><!-- /.span -->
  </div><!-- /.row -->

<!-- Picture -->
  <div class="thumbnails">
    <div class="span12">
       <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="item active">
              <img src="assets/img/justin.jpg" alt="">
              <div class="carousel-caption">
                <h4>Mt. Rushmore</h4>
              </div>
            </div>
            <div class="item">
              <img src="assets/img/half-dome.JPG" alt="">
              <div class="carousel-caption">
                <h4>Half Dome Storm</h4>
                <p>Photo by Justin White. Image of Half Dome in Yosemite National Park, June 2012.</p>
              </div>
            </div>
            <div class="item">
              <img src="assets/img/sunset.jpg" alt="">
              <div class="carousel-caption">
                <h4>Cable Beach Sunset</h4>
                <p>Photo by Justin White. Sunset at Cable Beach, in Broome, Western Australia. June 2011.</p>
              </div>
            </div>
            <div class="item">
              <img src="assets/img/nols.JPG" alt="">
              <div class="carousel-caption">
                <h4>NOLS Australia 2011</h4>
                <p>Photo of the NOLS Australia group, May 2011.</p>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>
  </div>

  </div><!-- /.container -->
  
  
<!--- TESTING -->

    
  